@model YemekSitesi.Models.Entity.Tbl_Kategori
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h2>Kategori Güncelleme Sayfası</h2>
</div>
@using (Html.BeginForm("Guncelle", "AdminKategori", FormMethod.Post))
{
    <div style="margin-top:20px;">
        <label>Kategori Id:</label>
         @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Kategori Ad:</label>
        @Html.TextBoxFor(x=>x.KategoriAd, new { @class = "form-control",@required="required" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-success">Kategori Güncelle</button>
    </div>
}

