<div class="content-form">
    <h3>Bir Yorum Yapınız...</h3>
    <form method="post">
        <input type="hidden"  name="Yemekid" value="@ViewBag.dgr" required />
        <input type="text" placeholder="İsim..." name="Name" required />
        <input type="text" placeholder="Mail Adresi..." name="Mail" required />
        <textarea placeholder="Yorumunuzu Yazınız..." name="İcerik"></textarea>
        <button class="btn btn-info">Yorum Gönder</button>
    </form>
</div>
